* {
  /* Neccessary for all css files*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.Header {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 500px;

  flex-direction: column;
}
#logo {
  display: flex;
  margin: 0 auto;
}
#tabs {
  margin: 50px auto;
  display: flex;
  flex: 0 1;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  width: 500px;
}

.tab-block {
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  font-weight: bolder;
  font-size: large;
}
a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    color: hsl(214, 100%, 70%);
}
.tab-block:hover {
  color: hsl(214, 100%, 70%);
  transform: translateY(-4px);
}

.Page {
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
  background-image: url("/images/the-beacon.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-start;
}

.content {
  display: flex;
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
  font-size: x-large;
  background-color: hsl(0, 0%, 13%);
  color: whitesmoke;
  justify-self: center;
  width: fit-content;
  height: fit-content;
}
#beaconText {
  background-color: whitesmoke;
  font-size: xx-large;
  padding: 20px;
  color: black;
  width: 40%;
  text-align: center;
  font-weight: 900;

  /* align-self:center ; */
}
#content-button {
  width: fit-content;
  border-color: rgb(0, 0, 0, 0);
  background-color: hsl(214, 100%, 70%);
}
#content-button:hover {
  background-color: hsl(214, 100%, 80%);
  transform: translateY(-4px);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex: 0 1; */
  gap: 50px;
  margin: 50px;
}
.FAN {
  border: solid 5px hsl(0, 0%, 13%);
  box-shadow: 0px 4px 4px #000030, 0px 12px 12px #000015;
}
.FAN:hover {
  scale: 1.05;
}
.FAN-text {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-weight: bolder;
  font-size: x-large;
}
.footer {
  background-color: hsl(0, 0%, 13%);
  /* flex:1; */
  height: 150px;
  width: 100%;
  margin-bottom: 80px;
}
.foot-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#foot-text {
  color: white;
}
.foot-icons {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 30px;
}
.icons:hover {
  transform: translateY(-4px);
}
@media screen and (min-width: 640px) {
  .page {
    display: flex;
    background-size: cover;
  }
  .gallery {
    display: flex;
  }
}
